h1,h2,h3,h4,p {
    margin: 0;
    font-weight: 400;
}

@font-face{
    font-family:"lemonmilk-regular";
    src:url('./static/LemonMilkRegular.otf') format("woff"),
    url('./static/LemonMilkRegular.otf') format("opentype"),
    url('./static/LemonMilkRegular.otf') format("truetype");
}

@font-face{
    font-family:"worksans-regular";
    src:url('./static/WorkSans-Regular.ttf') format("woff"),
    url('./static/WorkSans-Regular.ttf') format("opentype"),
    url('./static/WorkSans-Regular.ttf') format("truetype");
}

* {
    box-sizing: border-box;
    font-family:"lemonmilk-regular";
}
